/* Import of google fonts */

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;300;400;500;600;700;800;900&display=swap");

/* Generic body stylings */

body {
  background-color: black;
  font-family: "Big Shoulders Display", cursive;
  letter-spacing: 5px;
  color: white;
}

header {
  background-color: black;
}

/* Styles for the name div */
.name {
  color: white;
  padding-top: 20px;
}

h1 {
    font-size: 25px;
}

/* Styles for the nav as well as links, and icons */

.nav {
  padding-top: 20px;
}

.ul-div {
  max-width: 400px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

i {
  color: white;
  font-size: 30px;
  padding-top: 20px;
}

a:hover, i:hover {
  color: rgb(143, 143, 143);
  transition: .5s;
}

.active {
  border-bottom: 1px solid white;
}
/* Style for the hr directly under header */

hr {
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
  border: 0;
  height: 2px !important;
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 0),
    rgb(255, 255, 255),
    rgb(0, 0, 0)
  );
}

.bio-container {
  margin-top: 60px;
}

.profile-image {
  width: 60%;
  margin: 0 auto;
  float: right;
}

.card-body {
  background-color: black;
  border: 1px solid black;
}

/* .mini-portfolio-container {
  margin-top: 20px;
} */

.margin-top {
  margin-top: 60px;
}

.form-group-padding {
  padding: 10px 0px;
}

button {
  font-size: 30px;
  padding: 30px;
}



/* Media Queries  */

@media (max-width: 768px) {
  .name {
    padding-top: 10px;
  }

  .nav {
    padding-top: 5px;
  }

  .header-icon-col {
    display: none;
  }

  .header-row {
    justify-content: space-evenly !important;
  }

  .profile-image {
    float: left;
    width: 100%;
  }

  .margin-top {
    margin-top: 40px;
  }

  .card {
    margin-bottom: 20px;
  }
}