/* Import of google fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* Generic body stylings */

body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  color: white;
}

header {
  background-color: black;
}

/* Styles for the name div */
.name {
  color: white;
  padding-top: 20px;
}

h1 {
  font-size: 25px;
}

/* Styles for the nav as well as links, and icons */

.nav {
  padding-top: 20px;
}

.ul-div {
  max-width: 400px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

i {
  color: white;
  font-size: 30px;
  padding-top: 20px;
}

a:hover,
i:hover {
  color: rgb(116, 116, 116);
  transition: 0.5s;
}

.active {
  border-bottom: 1px solid white;
}
/* Style for the hr directly under header */

hr {
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
  border: 0;
  height: 2px !important;
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 0),
    rgb(255, 255, 255),
    rgb(0, 0, 0)
  );
}

/* Styles for the bio and image container on index.html */

.bio-container {
  margin-top: 60px;
  width: 80%;
}

.profile-image {
  width: 60%;
  margin: 0 auto;
  float: right;
}

/* Styles for paragraphs */

p {
  font-size: 20px;
}

/* Styles for cards on both index and portfolio.html */

.card-body {
  background-color: black;
  border: 1px solid black;
}

.card-title-padding {
  padding-bottom: 10px;
}

/* Sets a reusable margin top property */

.margin-top {
  margin-top: 60px;
}

/* Form stylings on contact.html */

.form-group-padding {
  padding: 10px 0px;
}

textarea {
  height: 150px;
}

/* Hides the footer until the 768px breakpoint */

footer {
  visibility: hidden;
}

/* Media Query - changes styling at 768px viewport width  */

@media (max-width: 768px) {
  .name {
    padding-top: 10px;
  }

  .nav {
    padding-top: 5px;
  }

  .header-icon-col {
    display: none;
  }

  .header-row {
    justify-content: space-evenly !important;
  }

  .profile-image {
    float: left;
    width: 100%;
  }

  .margin-top {
    margin-top: 40px;
  }

  .card {
    margin-bottom: 20px;
  }

  footer {
    visibility: visible;
  }

  .absolute-bottom {
    position: absolute;
    bottom: 0;
  }
}
